<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add New Story</h4>
  </div>
  <div class="modal-body">
       <div class="container">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
        <li><a href="#events" data-toggle="tab">Events</a></li>
        <li><a href="#facts" data-toggle="tab">Facts</a></li>
      </ul>
      <div class="tab-content properties-information">
        <div class="tab-pane active" id="about">
          <div class="panel panel-default">
            <div class="panel-heading">
             <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
               <%= @property.name %><%= @property.address %> <%= @property.address_2 %><%= @property.city %>, <%=@property.state %>  <%= @property.zip %>
               <%= @property.neighborhood %>
                <%= @property.county %>
              </div>
              <div class="col-xs-6 col-sm-8 ">
                <% @property.stories.where(:story_type => [2]).each do |story| %>
              <ul class="media-list">
                <li class="media">
                  <div class="media-body">
                    <ul class="list-group ">
                      <li class="list-group-item"><h4 class="media-heading"><%= story.title %></h4>
                        <p><%= story.description %></p></li>
                      <li class="list-group-item "><small>Source: <%= story.source %></small><%= link_to 'Delete Story', [story.property, story],  method: :delete, data: { confirm: 'Are you sure?' }, :class => 'pull-right btn btn-default btn-xs' %></li>
                   </ul>
                  </div>
                </li>
              </ul>
              <% end %>
              </div>
            </div>
            </div>
          </div><!--/panel-->
          
        </div>
        <div class="tab-pane" id="events">
          <div class="panel panel-default">
            <div class="panel-heading">
              
             <h3 class="panel-title">Events</h3>
            </div>
            <div class="panel-body">
             <% @property.stories.where(:story_type => [1]).each do |story| %>
              <ul class="media-list">
                <li class="media">
                  <div class="media-body">
                    <ul class="list-group">
                      <li class="list-group-item"><h4 class="media-heading"><%= story.title %></h4>
                        <p><small><%= story.when %></small></p><p><%= story.description %></p></li>
                      <li class="list-group-item"><small>Source: <%= story.source %></small><%= link_to 'Delete Story', [story.property, story],  method: :delete, data: { confirm: 'Are you sure?' }, :class => 'pull-right btn btn-default btn-xs' %></li>
                  </ul>
                </div>
                </li>
              </ul>
              <% end %>
            </div>
          </div><!--/panel-->
        </div>
        <div class="tab-pane" id="facts">
        <div class="panel panel-default">
            <div class="panel-heading">
              
              <h3 class="panel-title">Add a story</h3>
            </div>
            <div class="panel-body">
             <div class="form-horizontal"><%= form_for([@property, @property.stories.build]) do |f| %>

      
          <div class="well"> Do you have a story to add? Please select: <%= select(:story, :story_type, [['Event', 1], ['Fact', 2]]) %></div>
      
      

        <div class="form-group">
          <div class="col-sm-2 control-label"><%= f.label :when, "Date of Story" %></div>
           <div class="col-sm-10"><%= f.date_field :when, :class => 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label"><%= f.label :description, "Description" %></div>
          <div class="col-sm-10"><%= f.text_area :description, :class => 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label"><%= f.label :source, "Source url" %></div>
          <div class="col-sm-10"><%= f.text_field :source, :class => 'form-control' %></div>
        </div>

      </div>
      <div class="form_add"><%= f.submit "Add", :class => 'pull-right btn btn-default btn-lg ' %>
      </div>
    <% end %>
  
              </div>
            </div>
          </div><!--/panel-->
        </div>
  </div><!--/container-->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->