<div class="row">
	
	<div class="col-xs-12 col-sm-6 col-md-8">
		
		<h1>New Property</h1>


		<%= form_for :property, url: property_path(@property), :html => {:class => "form-horizontal"}, method: :patch do |f| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Address</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :address, "Address" %></div>
						<div class="col-sm-10"><%= f.text_field :address, :class => 'form-control' %></div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :address_2, "Address 2" %></div>
						<div class="col-sm-10"><%= f.text_field :address_2, :class => 'form-control' %></div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :city, "City" %></div>
						<div class="col-sm-10"><%= f.text_field :city, :class => 'form-control' %></div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :State, "State" %></div>
						<div class="col-sm-10"><%= f.text_field :state, :class => 'form-control' %></div>
					</div>
					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :zip, "Zip" %></div>
						<div class="col-sm-10"><%= f.text_field :zip, :class => 'form-control' %></div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Basic Information</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :name, "Name" %></div>
						<div class="col-sm-10"><%= f.text_field :name, :class => 'form-control'%></div>
					</div>

					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :neighborhood, "Neighborhood" %></div>
						<div class="col-sm-10"><%= f.text_field :neighborhood, :class => 'form-control' %></div>
					</div>

					<div class="form-group">
						<div class="col-sm-2 control-label"><%= f.label :county, "County" %></div>
						<div class="col-sm-10"><%= f.text_field :county, :class => 'form-control' %></div>
					</div>
				</div>
			</div>
			
			<%= f.submit "Add" %>
		<% end %>
	</div>
	
	<div class="col-xs-6 col-md-4">

	</div>

</div>


	