<h1>Properties</h1>
<% @properties.each do |property| %>
	<%= property.address %>
	<%= property.address_2 %>
	<%= property.city %>
	<%= property.state %>
	<%= property.zip %>

	<% end %>

	<%= link_to 'Create New Property', new_property_path %>