


      <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">About</a></li>
        <li><a href="#events" data-toggle="tab">Events</a></li>
        <li><a href="#story" data-toggle="tab">Add a story</a></li>
      </ul>
      <div class="tab-content properties-information">
        <div class="tab-pane active" id="about">
          <div class="panel panel-default">
            <div class="panel-heading">
             <h3 class="panel-title">About</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-6 col-sm-4">
               <strong><%= @property.name %><%= @property.address %> <%= @property.address_2 %><%= @property.city %>, <%=@property.state %>  <%= @property.zip %></strong>
               <%= @property.neighborhood %>
                <%= @property.county %>
              </div>
              <div class="col-xs-6 col-sm-8 ">
                <% @property.stories.where(:story_type => [2]).each do |story| %>
              <ul class="media-list">
                <li class="media well">
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                        <blockquote>
                          <p><%= story.when %></p>
                          <p><%= story.description %></p>
                          <small><cite title="Source Title"><%= story.source %></cite></small>
                        </blockquote>
                      <%= link_to 'Delete Story', [story.property, story],  method: :delete, data: { confirm: 'Are you sure?' }, :class => 'pull-right btn btn-default btn-xs' %>
                  </div>
                </li>
              </ul>
              <% end %>
              </div>
            </div>
            </div>
          </div><!--/panel-->
          
        </div>
        <div class="tab-pane" id="events">
          <div class="panel panel-default">
            <div class="panel-heading">
              
             <h3 class="panel-title">Events</h3>
            </div>
            <div class="panel-body">
             <% @property.stories.where(:story_type => [1]).each do |story| %>
              <ul class="media-list">
                <li class="media well">
                  <div class="media-body">
                      <h4 class="media-heading"></h4>
                        <blockquote>
                          <p><%= story.when %></p>
                          <p><%= story.description %></p>
                          <small><cite title="Source Title"><%= story.source %></cite></small>
                        </blockquote>
                      <%= link_to 'Delete Story', [story.property, story],  method: :delete, data: { confirm: 'Are you sure?' }, :class => 'pull-right btn btn-default btn-xs' %>
                </div>
                </li>
              </ul>
              <% end %>
            </div>
          </div><!--/panel-->
        </div>
        <div class="tab-pane" id="story">
        <div class="panel panel-default">
            <div class="panel-heading">
              
              <h3 class="panel-title">Add a story</h3>
            </div>
            <div class="panel-body">
             <div class="form-horizontal"><%= form_for([@property, @property.stories.build]) do |f| %>

      
          <div class="well"> Do you have a story to add? Please select: <%= select(:story, :story_type, [['Event', 1], ['Fact', 2]]) %></div>
      
      

        <div class="form-group">
          <div class="col-sm-2 control-label"><%= f.label :when, "Date of Story" %></div>
           <div class="col-sm-10"><%= f.date_field :when, :class => 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label"><%= f.label :description, "Description" %></div>
          <div class="col-sm-10"><%= f.text_area :description, :class => 'form-control' %></div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label"><%= f.label :source, "Source url" %></div>
          <div class="col-sm-10"><%= f.text_field :source, :class => 'form-control' %></div>
        </div>

      </div>
      <div class="form_add"><%= f.submit "Add", :class => 'pull-right btn btn-default btn-lg ' %>
      </div>
    <% end %>
  
              </div>
            </div>
          </div><!--/panel-->
        </div>





